
body {
	font-family: 'Trirong', serif;
}

.table-responsive {
    overflow-x: hidden;
}

.pagination-nav{
	text-align: center;
}

.content-wrapper{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

.fix-height-container{
	min-height: 600px;
	padding-bottom: 200px;
}

.content-title{
	margin-bottom: 20px;
}

.content-title h1{
	color: #6e6f72;
	font-size: 30px;
}

.complete-booking-title h1{
	color: #2cacde;
	font-size: 30px;
}

.content-title h1 span{
	clear: left;
	display: block;
	margin-top: 10px;
}

.center-title{
	text-align: center;
}

.edit-profile-button{
	margin-top: 20px;
}

table td{
	text-align: left;
}

.left-menu{
	height: 100%;
	min-height: 640px;
	background: #33aede;
}

.left-menu header{
	padding: 20px;
}

.left-menu header li{
	padding: 10px 0;
}

.left-menu header a{
	color: #fff;
}

footer{
	opacity: 0.7;
	padding: 10px 0;
	height: 60px;
}

.footer{
    width: 100%;
    background: #fff;
}

footer span{
	display: block;
	text-align: center;
	color: #0093d8;
	font-weight: bold;
	margin-top: 10px;
}



.error_msg{
	border: 1px solid #FF0000;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.message{
	border: 1px solid #dff0d8;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
	text-align: center;
}

#admin-login-form .content-title{
	text-align: center;
}

#admin-login-form .control-label{
	color: #33aede;
}

.btn-custom-blue{
	background-color: #33aede;
	border-color: #33aede;
}

.btn-custom-grey{
	background-color: #ddd;
	border-color: #ddd;
	color: #fff;
}

.add-button-right{
	text-align: right;
}

.add-button{
	margin-bottom: 20px;
}


@media (min-width: 768px){
	
}

@media (max-width: 767px){

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

	.fix-height-container{
		min-height: 100%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
	

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: #33aede;
	border-color: #33aede;
}

.pagination>li>a, 
.pagination>li>span{
	color: #33aede;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
