label{
	color: #808184;
}

h1{
	font-size: 20px;
}

#logo{
	padding: 0;
}

.logo-img-content{
	margin: 20px 0;
}

.header-logo-image{
	padding-bottom: 20px;
}

.quick-search-input{
	width: 100%;
}

.content-wrapper{
	background: #f3f3f4;
	margin-top: 30px;
	height: 100%;
	padding-top: 20px;
}

.quick-search-input input,
#language-search,
#country-search{
	background: #e7e7e8;
}

#language-search,
#country-search{
	margin-left: 10px;
}

#quick-search-button{
	text-indent: -9999px;
	background: url('../img/2_search_iconpsd.png') center center no-repeat #2f2e7e;
	width: 70%;
}

.panel-violet .panel-heading{
	background-color: #2f2e7e;
	color: #fff;
	border-color: #2f2e7e;
}

.panel-grey .panel-heading{
	background-color: #6d6e71;
	color: #fff;
	border-color: #6d6e71;
}

.panel{
	background: none;
	border: none;
}

.panel-heading{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.panel-violet {
	border-bottom: 1px solid #2f2e7e;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-grey {
	border-bottom: 1px solid #6d6e71;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-violet .list-group li.list-group-item{
	background: url('../img/border-violet.png') left center no-repeat;
	color: #2f2e7e;
	border-top: 1px solid #2f2e7e;
}

.panel-grey .list-group li.list-group-item{
	background: url('../img/border-grey.png') left center no-repeat;
	color: #6d6e71;
	border-top: 1px solid #6d6e71;
}

.panel-by-news{
	background: none;
	border: none;
}

.panel-by-news.panel-violet .list-group li.list-group-item.news-list{
	background: none;
	color: #2f2e7e;
	border: none;
	padding: 20px 0;
}

.panel-by-category a{
	color: #2f2e7e;
}

.panel-violet .list-group li.list-group-item.more-button{
	background: none;
	text-align: right;
	border-bottom: none;
}

.panel-violet.panel-by-category{
	border-bottom: 0;
	box-shadow: none;
}

.panel-violet .panel-heading+.list-group .list-group-item:first-child{
	border-top-width: 1px;
}

.news-title{
	font-weight: bold;
	font-size: 1.2em;
}

.news-date,
.news-content{
	color: #6d6e71;
}

.right-index-box{
	background: #2f2e7e;
	padding: 12px;
	margin-bottom: 20px;
}

.right-index-box .right-index-title{
	color: #fff;
	font-size: 1.4em;
	padding-bottom: 10px;
}

footer{
	margin-top: 50px;
	padding: 10px;
	text-align: center;
}

footer img{
	max-width: 130px;
}

#company-header h1{
	color: #696969;
	text-align: center;
	margin-top: 10px;
	font-size: 1.8em;
}

/*Company Section*/
#logo img{
	max-width: 100%;
	min-height: auto;
}

.company-content-wrapper,
#logo-menu{
	margin: 0 auto;
	max-width: 845px;
}

#company-profile,
#company-profile-content,
#company-right-content,
#logo-menu,
#company-news,
#company-products-lists{
	margin-top: 10px;
}

#company-description{
	color: #808184;
	text-align: center;
}

#subject-title,
.right-subject-title{
	color: #fff;
	font-size: 1.2em;
	display: inline-block;
	width: 100%;
	padding: 8px;
}

#subject-title{
	text-transform: capitalize;
}

.company-profile-row{
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
}

.company-profile-row:first-child{
	border-top: 1px solid #ccc;
}

.company-profile-row .company-profile-subject,
.company-profile-row .company-profile-detail {
	padding: 8px;
}

.company-profile-subject{
	color: #696969;
	font-weight: bold;
	border-right: 1px solid #ddd;
}

.company-profile-detail {
	color: #808184;
}

.company-right-box{
	margin-bottom: 20px;
}

.company-right-box-content{
	padding: 8px;
}

.news-right-row{
	margin-bottom: 5px;
}

.news-right-row div{
	display: inline-block;
}

.news-right-row .news-image{
	width: 30px;
	margin-right: 10px;
}


.news-right-row .news-right-title{
	width: 200px;
	font-size: 1.1em;
	color: #808184;
	margin-left: 12px;
}

.news-right-title a{
	word-wrap: break-word;
}

.news-right-row .news-date{
	width: 20px;
	font-size: 0.8em;
	color: #808184;
}

.news-right-row .news-image img{
	max-width: 40px;
	height: 40px;
	vertical-align: baseline;
}

#more-right-news{
	margin-top: 10px;
}

#company-breadcrumb ul li {
	display: inline-block;
}

#company-breadcrumb ul li a{
	color: #808184;
}

.company-news-title{
	word-break: break-word;
}

.company-news-list{
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
}

.company-news-list:last-child{
	border:none;
}

.company-news-list div.company-news-image,
.company-news-list .company-news-title{
	display: inline-block;
}


.company-news-list .company-news-image{
	width: 120px;
	margin-right: 10px;
}


.company-news-list .company-news-title{
	width: 415px;
	font-size: 1.1em;
	color: #808184;
	vertical-align: middle;
}

.company-news-list .company-news-date{
	width: 50px;
	font-size: 0.8em;
	color: #808184;
}

.company-news-list .company-news-image img{
	max-width: 120px;
	height: auto; 
	max-height: 50px;
}

.company-right-box-content#news-right-content{
	padding: 8px 0;
}

#company-news-content{
	margin-top: 10px;
}

#company-news-content #company-news-date{
	color: #808184;
	font-size: 0.8em;
}

#company-news-content #company-news-title{
	font-size: 1.5em;
	color: #696969;
}

#company-news-content #company-news-author{
	margin-top: 20px;
}

#company-news-content #company-news-author img{
	max-width: 	70px;
	max-height: 70px;
	margin: 0 auto;
}

.author-details{
	margin-top: 10px;
}

#company-news-content #company-news-author #author-name,
#company-news-content #company-news-author #author-job{
	color: #808184;
}

#company-news-content #company-news-author #author-name{
	font-size: 1.2em;
}

#company-news-content #company-news-author #author-job{
	font-size: 0.9em;
}

#company-news-content #company-news-description {
	margin-top: 20px;
	font-size: 1.3em;
	color: #808184;
}

.products-category-list{
	margin-top: 20px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
}

.products-category-list:last-child{
	border: none;
}

.products-category-list:first-child{
	margin-top: 0;
}

.products-category-description,
.products-category-name-header,
.products-name-product{
	color: #808184;
}

.products-category-list a,
.products-category-name-header{
	font-size: 1.3em;
}

.products-category-name{
	font-size: 1.1em;
}

.products-list{
	margin-top: 30px;
}

.products-list .product-details{
	margin-top: 20px;
}

.products-list .products-image,
.products-list .products-image img{
	max-height: 65px;
}

.products-list .products-description,
.product-link,
.products-category-name-product a,
.products-specs-product{
	color: #808184;
}

#company-product-details #company-product-image,
#company-product-details #company-product-image img{
	max-height: 165px;
}

.products-category-name-product{
	font-size: 1.5em;
	color: #696969;
}

.products-name-product{
	font-size: 1.6em;
}

.products-specs-product{
	font-size: 1em;
}

.products-name-product,
.products-specs-product{
	margin-top: 10px;
}

.products-description-product{
	margin-top: 5px;
}

.collapse-category{
	margin-top: 10px;
}

.collapse-list{
	margin-top: 10px;
}

.collapse-list li{
	list-style: none inside;
}

.collapse-list li a{
	color: #808184;
}

/*Fix carousel height*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	max-height: 380px;
}

#language ul.nav{
	text-align: right;
}

#language ul.nav>li>a{
	padding: 10px 10px;
}

#company-news-title h1{
	margin-top: 0;
	word-break: break-word;
}

@media (min-width: 768px){
	.nav-justified>li {
	    display: inline-block;
	    width: auto;
	}
}

@media (max-width: 767px){
	}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	/*Fix carousel height*/
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		max-height: 322px;
	}

	#menu {
		margin-top: 10px;
	}

	#menu .nav,
	#language ul.nav{
		text-align: center;
	}

	#menu .nav li,
	#language .nav li{
		display: inline-block;
	}

	.nav>li>a{
		padding: 10px;
	}

	#company-profile.home-page{
		margin-top: 0;
	}

	#logo img{
		max-width: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.company-news-list .company-news-title{
		width: 570px;
	}

	.news-right-row .news-right-title{
		max-width: 670px;
	}

	.author-details{
		text-align: center;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) { 

	#menu {
		margin-top: 10px;
	}

	#menu .nav,
	#language ul.nav{
		text-align: center;
	}

	#menu .nav li,
	#language .nav li{
		display: inline-block;
	}

	.nav>li>a{
		padding: 6px;
	}

	#logo img{
		max-width: 50%;
		text-align: center;
		margin: 0 auto;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape){
	#menu {
		margin: 0;
	}

	#logo {
		padding: 10px 15px;
	}

	.nav>li>a{
		padding: 10px;
	}

	#menu .nav{
		text-align: left;
	}

	#language ul.nav{
		text-align: right;
	}

	.company-news-list .company-news-title{
		width: 415px;
	}

	/*Fix carousel height*/
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		max-height: 380px;
		margin: 0 auto;
	}

	.author-details{
		text-align: left;
	}
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
	#language-search,
	#country-search{
		margin-left: 0px;
	}
	.select-country,
	.select-language {
		margin-top: 10px;
	}

	.header-logo-image img{
		margin: 0 auto;
	}

	.news-image{
		margin-bottom: 20px;
	}

	/*Fix carousel height*/
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		max-height: 154px;
		margin: 0 auto;
	}

	#menu {
		margin-top: 10px;
	}

	#menu .nav,
	#language ul.nav{
		text-align: center;
	}

	#menu .nav li,
	#language .nav li{
		display: inline-block;
	}

	.nav>li>a{
		padding: 6px;
	}

	#company-profile.home-page{
		margin-top: 0;
	}

	#logo img{
		max-width: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.company-profile-subject{
		border-right: none;
	}

	.news-right-row .news-right-title{
		max-width: 300px;
	}

	.company-news-list {
		text-align: center;
	}
	.company-news-list .company-news-image,
	.company-news-list .company-news-image img{
		margin: 0 auto;
		width: 100%;
		margin-bottom: 5px;
	}

	/*.company-news-list .company-news-title{
		width: 200px;
	}

	.company-news-list .company-news-image,
	.company-news-list .company-news-image img{
		width: 50px;
	}*/

	.author-details{
		text-align: center;
	}

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation:landscape) {
	/*Fix carousel height*/
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		max-height: 286px;
		margin: 0 auto;
	}

	#menu {
		margin-top: 10px;
	}

	.company-profile-subject{
		border-right: none;
	}

	.company-news-list .company-news-title{
		width: 100%;
	}

	.news-right-row .news-right-title{
		width: 570px;
	}

	.author-details{
		text-align: center;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
    /* iPhone 6+ landscape */

    /*Fix carousel height*/
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		max-height: 286px;
		margin: 0 auto;
	}

	#menu {
		margin-top: 10px;
	}

	#menu .nav,
	#language .nav{
		text-align: center;
	}

	#menu .nav li,
	#language .nav li{
		display: inline-block;
	}

	.nav>li>a{
		padding: 10px;
	}

	#company-profile.home-page{
		margin-top: 0;
	}

	.company-profile-subject{
		border-right: none;
	}

	#logo img{
		max-width: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.news-right-row .news-right-title{
		max-width: 590px;
	}

	.author-details{
		text-align: center;
	}
}


/*Trick Bootstrap row height*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

